.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.container-item {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ghostwhite;
    margin: 10px;
    border-radius: 8px;
}

.container-item  > p { 
    margin-top: 10px;
    text-align: center;
}